:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.main-content {
  margin-top: 60px;
  padding: 40px 16px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

app-main-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}
